---
import { fetchApi } from "../strapi";
import "../styles/List.css";

const films = await fetchApi({
  endpoint: "films",
  wrappedByKey: "data",
});
---

<ul class="link-card-grid">
  {
    films.map((film) => (
      <li class="link-card">
        <a href={film.attributes.link}>
          <div>
            <h2>{film.attributes.name}</h2>
            <p>{film.attributes.year}</p>
            <p>{film.attributes.genre}</p>
          </div>
          <img src={film.attributes.posterUrl} alt="film-poster" />
        </a>
      </li>
    ))
  }
</ul>
